<container>
    <row class="footer-img">
        <columns>
            <a href="https://www.indochino.com/showrooms"><img src="https://i.imgur.com/CmcDBhN.jpg" /></a>
        </columns>
    </row>
</container>

<container>
    <center>
        <h6 class="text-center bold" style="font-weight: 900;">COME SEE US</h6>
        <p class="footer_showroom">Visit your local showroom and see our favorite styles for yourself. Get professionally measured, choose the perfect fabric, and build your custom look with help from an expert Style Guide.</p>
        <a href="https://www.indochino.com/showrooms" class="book_btn">BOOK NOW</a>
    </center>
</container>

<container>
    <row style="padding-top: 50px;">
        <columns>
        </columns>
    </row>
</container>

<container>
    <row>
        <columns small="4" large="4">
        <a href="https://www.indochino.com/collection/suits" class="link_btn">SUITS</a>
        </columns>
        <columns small="4" large="4">
        <a href="https://www.indochino.com/collection/shirts" class="link_btn">SHIRTS</a>
        </columns>
        <columns small="4" large="4">
        <a href="https://www.indochino.com/collection/pants" class="link_btn">PANTS</a>
        </columns>
    </row>
    <row>
        <columns small="4" large="4">
        <a href="https://www.indochino.com/collection/blazers" class="link_btn">BLAZERS</a>
        </columns>
        <columns small="4" large="4">
        <a href="https://www.indochino.com/collection/outerwear" class="link_btn">OUTERWEAR</a>
        </columns>
        <columns small="4" large="4">
        <a href="https://www.indochino.com/collection/sale" class="link_btn_sale">SALE</a>
        </columns>
    </row>
</container>
<container>
    <row class="ftdesc">
        <columns small="4" large="4"><a href="https://www.indochino.com/how-it-works"><p class="sub_footer_links">FREE SHIPPING</p></a></columns>
        <columns small="4" large="4"><a href="https://www.indochino.com/showrooms"><p class="sub_footer_links">SHOWROOMS</p></a></columns>
        <columns small="4" large="4"><a href="https://www.indochino.com/suits/fit"><p class="sub_footer_links">FIT PROMISE</p></a></columns>
    </row>
    <row>
        <columns small="4" large="4"><p class="sub_footer_desc">On orders over $150</p></columns>
        <columns small="4" large="4"><p class="sub_footer_desc">Come see us in person</p></columns>
        <columns small="4" large="4"><p class="sub_footer_desc">We won't stop until it fits</p></columns>
    </row>
</container>